.wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 10px;

  .dot {
    padding: 8px;
    left: 10px;
  }
}

.horizontal-line {
  border-top: 1px solid $background-color;
}

.container-title {
  padding: 0 10px;
  height: 25px;
}

.subtitle-wrapper {
  padding-left: 13.5%;
}

.statistics-wrapper {
  img {
    width: auto;
    overflow: scroll;
    height: 250px;
  }
}
