.left-side-section {
  flex: 3;
  height: 100vh;
}

.middle-side-section {
  display: grid;
  flex-direction: column;
  flex: 80%;
  height: 100vh;
}

.content {
  overflow-y: auto;
  position: relative;
  overflow-y: scroll;
}
.content-wrapper{
  display: none;
  &.active {
    display: block;
  }
}

.content > article {
  flex: 4;
  background-color: white;
}

article {
  margin: 10px;
  padding: 20px 10px;
  box-shadow: -1px 1px 4px 0 grey;
  background-color: white;
  min-height: 80vh;
}
