.statistics-summary-table {
  border-collapse: collapse;
  width: 35%;
  margin: 0 25px;

  th {
    padding: 5px;
  }

  td {
    text-align: end;
  }

  tr {
    border-bottom: 1px solid #EEEEEB;
    text-align: left;
  }
}
